body { 

background: #6CCFF5;
text-align: center;
}

#main {
	width: 1000px;
	height: 60px;
	margin: 25px auto;
	font-size: 40px;
	font-family: "Verdana",Verdana, Sans;
	color: white;
}

#pic {
	width: auto;
	height: 500px;
}

p {
	color: white;
}